In [9]:
# Import Packages (remove hashtags):
# import pandas as pd
# import matplotlib as mp

# Titanic.csv

### Reading in the file as a DataFrame

In [11]:
titanicdf = pd.read_csv(r"C:\Users\tzork\PycharmProjects\28-01-2025\titanic.csv")
# Using the .describe() function to 
titanicdf.describe()

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

### Cleaning the DataFrame

In [23]:
# Dropping rows/column with more than 10 NA values
titanicdf1 = titanicdf.dropna(thresh=10)

In [24]:
titanicdf1.describe()

         survived      pclass         age       sibsp       parch        fare
count  733.000000  733.000000  714.000000  733.000000  733.000000  733.000000
mean     0.410641    2.211460   29.699118    0.506139    0.422920   35.123954
std      0.492286    0.847871   14.526497    0.921230    0.845185   52.937667
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    1.000000   20.125000    0.000000    0.000000    8.050000
50%      0.000000    2.000000   28.000000    0.000000    0.000000   15.900000
75%      1.000000    3.000000   38.000000    1.000000    1.000000   34.375000
max      1.000000    3.000000   80.000000    5.000000    6.000000  512.329200

In [25]:
# Check for duplicate rows
duplicates = titanicdf1[titanicdf1.duplicated()]

print(duplicates)

Empty DataFrame
Columns: [survived, pclass, name, sex, age, sibsp, parch, ticket, fare, cabin, embarked]
Index: []

There are no duplicate rows and we've cleaned some NAs from the DF