# Numpy

Numpy is a library which provides support for large, homogeneous, multi-dimensional arrays and matrices

In [6]:
# import numpy
import numpy as np

## Creating Arrays in Numpy
### Creating an array from a list

In [3]:
list1 = [10,20,30]
list1

[10, 20, 30]

In [7]:
arr1 = np.array(list1)
arr1

array([10, 20, 30])

In [8]:
type(arr1)

numpy.ndarray

## Using arrange to create an array
The difference between an array and arange is that array takes in a list and turns it into an array, whereas arrange creates and array from a range of numbers

In [12]:
arr2 = np.arange(10,20, 1)  # (start, stop, step-size)
arr2

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19])

## Multidimensional arrays
### Combining two list - Two-dimensional arrays
When we combine arrays together, we can add dimensions. Combining two arrays gives us a 2d array!
This creates a matric for us on which we can perform matrix operations.

In [13]:
# Let's create a new list to join onto the first list
list2 = [40,50,60]

#Join the lists
list3 = [list1, list2]

# Create an array out of the joined lists
arr3 = np.array(list3)
arr3

array([[10, 20, 30],
       [40, 50, 60]])

In [14]:
# Let's find the shape of that array
# We have a 2d array with 2 elements in the first instance adn 3 in the second
arr3.shape

(2, 3)

### Three-dimensional arrays

In [16]:
arr3dim = np.array([[[1,2,3],[3,4,5]],[[5,6,7],[7,8,9]]])
arr3dim

array([[[1, 2, 3],
        [3, 4, 5]],

       [[5, 6, 7],
        [7, 8, 9]]])

In [17]:
arr3dim.shape

(2, 2, 3)

In [18]:
arr3dim * 3

array([[[ 3,  6,  9],
        [ 9, 12, 15]],

       [[15, 18, 21],
        [21, 24, 27]]])

In [19]:
# How is this different than trying to do:
list1 * 3
# Lists and arrays are treated differently, see below

[10, 20, 30, 10, 20, 30, 10, 20, 30]

In [21]:
# We can actually multiply an array with another array

# Create a new array with the same size as arr1
arr11 = np.array(list2)

#multiply the arrays, what will happen?
arr1 * arr11

array([ 400, 1000, 1800])

### Can we multiply arrays of different shapes?

In [23]:
arr1 * arr2

ValueError: operands could not be broadcast together with shapes (3,) (10,)

The answer is NO!

### Array practice

Complete the following task: One dimensional array with 12 elements (12,)
Two dimensional array size (3, 4)
Three dimensional array size (2, 5, 4)
Check the size of your ndarray to ensure it is correct

### Accessing the values inside ndarrays

Let's take arr3 as our example, this was a 2d array

In [44]:
# How can we access the 60?
arr3

array([[10, 20, 30],
       [40, 50, 60]])

In [46]:
# We can use indexing
arr3[1][2]

# We can just use a comma
arr3[1,2]

# Remember when indexing we count starting from 0

np.int64(60)

In [47]:
# How can i get the bottom "row" of this ndarray?
arr3[1]

array([40, 50, 60])

In [48]:
#How about if we want the last column!
arr3[:,2]

array([30, 60])

## Statistical functions and arrays
There are a number of built in statistical functions we can use with numpy

In [50]:
# Finding the sum of all values
arr3.sum()

np.int64(210)

In [51]:
# Finding the sum of all columns
arr3.sum(0)

array([50, 70, 90])

In [52]:
#Finding the sym of all rows
arr3.sum(1)

array([ 60, 150])

In [53]:
# Finding the mean
arr3.mean()

np.float64(35.0)

In [54]:
# Finding the standard deviation
arr3.std()

np.float64(17.07825127659933)

In [55]:
# Finding variance
arr3.var()

np.float64(291.6666666666667)

In [56]:
# Finding minimum value
arr3.min()

np.int64(10)

In [57]:
# Finding max value
arr3.max()

np.int64(60)

## Iterating through ndarrays

Simplest way is to use a simple loop

In [58]:
# For a 1d array
for x in arr1:
    print(x)

10
20
30

In [59]:
# How about an n-dimensional array? Use nested loops
for dim in arr3:
    for num in dim:
        print(num)

10
20
30
40
50
60

In [61]:
# There is another way! we can use nditer
# This can be used in simple scenarios, but also very complex ones
# It tends to be much cleaner for nested loops
for x in np.nditer(arr3):
    print(x)

10
20
30
40
50
60

### Saving and loading in numpy